* {
  margin: 0px;
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none !important;
}

html {
  scroll-behavior: smooth;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* nav style */
.navbarr {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 20px 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbarr.sticky {
  padding: 10px 0;
  background: #d1c6d1;
}

.navbarr .max-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbarr .logo a {
  color: rgb(7, 7, 7);
  font-size: 20px;
  font-weight: 600;
}

.navbarr .logo a span:hover {
  color: #e284e2;
}

.navbarr.sticky .logo a span:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: rgb(5, 5, 5);
}

.navbarr .menu li {
  list-style: none;
  display: inline-block;
}

.navbarr .menu li a {
  display: block;
  color: rgb(10, 10, 10);
  font-size: 18px;
  font-weight: 600;
  margin-left: 25px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbarr .menu li a:hover {
  color: #e284e2;
  font-size: 20px;
  border-bottom: 1px solid #fff;
  border-radius: 15%;
}

.navbarr.sticky .menu li a:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-bottom: none;
  color: #fff;
}

/* meno btn */
.menu-btn {
  color: #e284e2;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #e284e2;
  left: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.scroll-up-btn:hover {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: 1px solid #e284e2;
  color: #e284e2;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.productos{
  
}

/* home section */
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  color: rgb(10, 10, 10);
  min-height: 500px;
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190830/pngtree-color-network-with-dots-on-white-background-image_310198.jpg");
}

.home .max-width {
  margin: auto 0 auto 50px;
}


.home .home-conten .right {
  width: 50%;
}

.home .home-conten .right .text {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}


.home .home-conten .right .text span {
  color: #e284e2;
}

.home .home-conten .right p {
  text-align: justify;
}

.home .home-conten .right a {
  display: inline-block;
  background: #ce73d1;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 15px;
  margin-top: 5px;
  border-radius: 122px;
  border: 2px solid #ce73d1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.home .home-conten .right a:hover {
  color: #ce85c4;
  background: none;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #dfb5c8;
}
section .home-conten,
.contact .contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}


/* about */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("https://fondosmil.com/fondo/31818.jpg");
  height: 100vh;
  color: rgb(0, 0, 0);
  min-height: 500px;
}

.about .about-content .left img {
  height: 400px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5%;
}

.about .about-content .right {
  padding: 25px;
  background: rgba(198, 206, 214, 0.671);
  width: 50%;
}

.about .about-content .right .text {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}

.about .about-content .right .text span {
  color: #1f5049;
}

.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right a {
  display: inline-block;
  background: #042aff;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid #042aff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.about .about-content .right a:hover {
  color: #042aff;
  background: none;
}


.card {
  margin: 12px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 20px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 25px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -50px;
  height: 40px;
  background-color: rgb(204, 133, 180, .4);
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}


/* contact section styling */
.contact {
  padding: 50px;
  background: #e2e1e1;
  color: black;
}

.contact .contact-content .column {
  width: calc(50% - 30px);
}

.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact .contact-content .left p {
  text-align: justify;
  color: black;
}

.contact .contact-content .left .icons {
  margin: 10px 0;
}

.contact .contact-content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
}

.contact .contact-content .row .info {
  margin-left: 30px;
}

.contact .contact-content .row i {
  font-size: 25px;
  color: #cc85b4;
}

.contact .contact-content .info .head {
  font-weight: 500;
}

.contact .contact-content .info .sub-title {
  color: black;
}

.contact .right form .fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact .right form .textarea {
  height: 80px;
  width: 100%;
}

.contact .right form .name {
  margin-right: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #b3b3b3;
}

.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}

.contact .right form .button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right form .button-area button {
  color: #fff;
  display: block;
  width: 160px !important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background: #e284e2;
  border: 2px solid #e284e2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.right form .button-area button:hover {
  color: #e284e2;
  background: none;
}

/* footer */
.pie-pagina {
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #fff;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  text-align: center;
  border-radius: 10px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-size: 28px;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: #011270;
}

.pie-pagina .grupo-2 {
  background-color: #333333;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

/* responsive style */
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0;
  }
}

@media (max-width: 1104px) {
  .about .about-conten .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active::before {
    content: "\f00d";
  }
  .navbarr .menu {
    position: fixed;
    height: auto;
    width: 100%;
    left: 0;
    top: -100%;
    background: #222;
    text-align: center;
    padding-top: 15px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .navbarr .menu.active {
    top: 0;
  }
  .navbarr .menu li {
    display: block;
  }
  .navbarr .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .max-width {
    max-width: 800px;
  }
  .home .home-conten .column {
    width: 100%;
  }
  .home .home-conten .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 60px;
  }
  .home .home-conten .right {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content {
    font-size: 15px !important;
  }
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
  .pie-pagina .grupo-1 {
    width: 90%;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}



@media (max-width: 500px) {
  .max-width {
    padding: 0 23px;
  }
}